
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");


.square{
    border-radius: 0px
}

.jumbotron{
    background-image: linear-gradient(to right, #007bff, #000); 
    color: #fff;
    min-height: 100px;
}

.pointer{
    cursor: pointer;
} 







* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

/* NEW HEADER STYLE */ 
.flexColStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flexColEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.flexColCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.hero-wrapper {
    color: rgb(27, 158, 202);
    position: relative;
    padding-bottom: 2rem; 
    height: 200px;
    background-color: #f4f4f4;
} 

.hero-container {
    justify-content: space-between; 
    align-items: flex-end;
    /* display: flex; */
}


/* OLD HEADER STYLE */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 2rem;
    background-color: #eee;
    /* color: var(--textColor); */
    /* display: { xs: 'none', md: 'flex' } */
    font-family: monospace;
    font-weight: 700; 
    letter-spacing: 0.3rem;
    color: #2980b9;
    text-decoration: none; 

    position: sticky;
    /* position: fixed; */ 
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); /* Add box shadow */
}

.description-text {
	background-color: #f4f4f4; /* Light grey background color */
	padding: 10px; /* Add some padding for better visual separation */
}   

.headerSearch {
  height: 50px;
  background-color: rgb(27, 158, 202);
  border: rgb(27, 158, 202);  
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-around;
  border-radius: 5px;
  position: relative;
  border-radius: 10px;
  margin: 0 auto; /* put it in the center */
  max-width: 1000px; /* Set a maximum width as needed for larger screens */
  
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1; /* Make the button item take up available space */
}




.headerSearchInput {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	outline: none !important;
	border: none;
	border-radius: 10px;
} 



.headerBtn {
    background-color: rgb(27, 158, 202); 
    color: white; /* Text color */
    padding: 5px 10px; /* Adjust padding as needed */
    border: none;
	margin-top: 2px;
	margin-bottom: 2px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold; 
	height: 50px;
    font-size: 16px; /* Adjust font size as needed */
}

/* Hover effect for the button */
.headerBtn:hover {
    background-color: rgb(27, 158, 202);  /* Change to the color you prefer on hover */
} 

/* HOW IT WORKS STYLING */ 

.section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
    padding: 1rem 0;
}

.category .box-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.category .box-container .box {
    width: 5rem;
    height: 4rem;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
    border: var(--border);
    margin: 2rem;
    padding: 1rem;
    backdrop-filter: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.category .box-container .box img {
    height: 3rem;
    width: 4rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    color: var(--black);
    background-color: var(--light-bg);
    text-align: center;
}

.category .box-container .box h3 {
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--black);
    padding-bottom: .5rem;
}

.category .box-container .box span {
    color: var(--light-color);
    font-size: 1rem;
}

.category .box-container .box:hover {
    background-color: #c7e7fc;
    transition: 0.5s ease;
}

/* ABOUT US STYLING */
.about {
    padding: 5rem 3rem 3rem;
    background: #f8f8f8;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row .column {
    width: 40%;
}

.column .tabs {
    display: flex;
}

.single-tab {
    background: white;
    margin-right: 10px;
    cursor: pointer;
}


.single-tab h2 {
    display: block;
    padding: 10px 16px;
    border-radius: 4px;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 600;
} 

.active-tab {
    background: #1567ff;
    position: relative;
}

.active-tab::before {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%); 
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-color: #1567ff transparent transparent transparent;
}

.active-tab h2 {
    color: white;
}


.about-img {
    position: relative;
    background-image: url("/images/scovers.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
    height: 600px;
    width: 100%;
}

.content {
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem;
    display: none;
} 

.active-content {
    display: block;
}

.content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.content p {
    padding-bottom: 1rem;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999;
}

.content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
} 

/* PARTNERSHIP CSS */ 
.partners-row {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.partners-column {
    margin-bottom: 30px;
    margin-right: 20px;
}

.progress-wrap h3 {
    font-size: 14px !important; 
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.progress {
    height: 8px; 
    background: rgba(0, 0, 0, 0.5);
    overflow: visible;
} 

.progress-bar {
    width: 99%;
    height: 8px;
    background: #06368f;
    line-height: 1.2;
    position: relative;
    border-radius: 2px;
} 

/* NEW HOMEPAGE DESIGN */ 
.hero {
    /* background-image: url("/images/bg.webp"); */
    background-image: url("/images/backg.gif");
    /* background-size: cover;
    background-attachment: fixed;
    position: absolute; */

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    z-index: -1;
    width: 100%;
    height: 80vh;

    padding-top: 10px;
    /* top: 0; 
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    padding-right: 50px; */
    color: #f6f7f8;
}

button {
    border: none;
}

.row {
    width: 50%;
}

button {
    padding: 10px 20px;
    background-color: #fff; 
    color: #1eb2a6; 
    font-weight: 600;
    border: none; 
    margin: 30px 10px 0 0; 
    border-radius: 3px; 
    cursor: pointer;
    box-shadow: 0 24px 36px -11px rgba(0 0 0 /9%); 
} 

button i {
    margin-left: 20px;
} 

button:hover {
    box-shadow: none;
} 

.primary-btn {
    background: #1e6fb2;
    color: #fff;
} 

#headings {
    text-align: center;
    padding: 40px 0;
} 

#headings h3 {
    font-weight: 600;
    letter-spacing: 1px; 
    color: #1e6fb2; 
    text-transform: uppercase; 
}

#headings h1 {
    font-size: 45px;
    margin: 20px 0; 
    text-transform: capitalize;
} 

.p-class {
    line-height: 30px; 
    font-size: 18px;
} 

.hero #headings h3 {
    color: #fff;
}

.hero #headings {
    text-align: left;
    margin: 0; 
    padding: 0;
} 

/* ABOUTCARD OF NEW HOME PAGE */ 
/* .aboutHome{
    height: auto;
}

.aboutHome #heading {
    text-align: left; 
    padding: 0;
} 

.aboutHome .leftt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.aboutHome .rightt {
    padding: 80px 50px;
} */ 


/* NEW DESIGN */
/* .aboutHome .rightt .items {
    display: flex;
    justify-content: space-between; 
}

.aboutHome .rightt .items .flexSB {
    display: flex;
    justify-content: space-between;
}

.aboutHome .rightt .items .img {
    width: 20%; 
}

.aboutHome .rightt .items .text {
   
} */


/* .aboutHome #headings {
    text-align: left;  
    padding: 0;
}  */




.aboutHome .rightt .items {
    display: flex; 
    justify-content: space-between;
}

.aboutHome .rightt .items .flexSB {
    display: flex;
    justify-content: space-between;
}



.aboutHome .rightt .items .img {
    width: 100%; /* Full width by default */
    max-width: 20%; /* Adjust the max-width as needed */
    box-sizing: border-box; /* Include padding and border in the width */
    margin-bottom: 20px; /* Add some space between items */
}

.aboutHome .rightt .items .text {
    width: calc(80% - 20px); /* Adjust the width as needed */
    box-sizing: border-box; /* Include padding and border in the width */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .aboutHome .rightt .items {
        flex-direction: column; /* Display items vertically on smaller screens */
    }

    .aboutHome .rightt .items .img {
        max-width: -50%; /* Full width for smaller screens */
        margin: 10px;
    }

    .aboutHome .rightt .items .text {
        width: 100%; /* Full width for smaller screens */
    }
}

.awrapper {
    background-image: url("/images/wrapper.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 20vh;  
    color: #f6f7f8;
    align-items: center;
}

.awrapper .boxes {
    padding: 20px 0;
    margin-left: 10px;
}



.awrapper h1 {
    font-size: 30px;
    font-weight: 900;
}

.awrapper h3 {
    font-size: 18px;
} 

.grids {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.boxes {
    /* Your existing styles remain the same */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* NEWSLETTER  */
/* .newsletter {
    background-color: #007bff; 
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px; 
    color: #fff;
}

.newsletter .left,
.newsletter .righter {
    padding-right: 50px;
} 

.newsletter h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.newsletter .righter {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */ 


/* Newsletter.css */

.newsletter {
    background-color: #007bff;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;
    color: #fff;
  }
  
  .newsletter .container {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter .left,
  .newsletter .right {
    padding: 0;
    text-align: center; /* Center text on mobile */
  }
  
  .newsletter h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .newsletter .right {
    margin-top: 15px; /* Add some space between the text and the input on mobile */
  }
  
  .newsletter .input-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items on mobile */
  }
  
  .newsletter input {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 10px; */
  }
  
  .newsletter button {
    background-color: #fff;
    color: #007bff;
    padding: 10px;
    border: none; 
    cursor: pointer;
  }
  
  /* Media query for responsiveness */
  @media (min-width: 768px) {
    .newsletter .container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .newsletter .left,
    .newsletter .right {
      width: 48%; /* Adjust the width as needed */
    }
  } 


  /* PROGRAMS STYLE */
  .Programs {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    padding: 0 2rem;
  }
  
  .programs-header {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-style: 3rem;
    justify-content: center;
    color: rgb(240, 30, 30); 
    text-transform: uppercase; 
    font-style: italic;
    font-size: 30px;
  }

  .programs-categories {
    display: flex;
    gap: 1rem;
  }

  .categorys {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 1.5rem;
    gap: 1rem; 
    color: white; 
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .categorys>:nth-child(1) 
  {
    width: 2rem;
    height: 2rem;
    fill: white; 
  } 

  .categorys>:nth-child(2) 
  {
    font-size: 1rem;
    font-weight: bold; 
  } 

  .categorys>:nth-child(3) 
  {
    font-size: 0.9rem;
    line-height: 25px;
  } 

  .join-now {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .join-now>img {
    width: 1rem;
  } 

  .categorys:hover {
    background: linear-gradient(to right, rgb(29, 29, 29), rgb(49, 89, 219));
    color: white;
    cursor: pointer;
  }

  

  @media (max-width: 768px) {
    .programs-categories {
      flex-direction: column;
    }
  
    .categorys {
      width: 100%; /* Take full width on smaller screens */
    }
  }

  /* REASONS */ 
  .Reasons {
    display: flex;
    padding: 0 2rem; 
    grid-template: 2rem; 
  }


/* NEW HOME PAGE RESPONSIVENESS */ 
@media screen and (max-width: 768px) {
    .margin {
        height: 1vh;
    } 

    .hero {
        background-position: right; 
        padding-top: 50%;
        height: 80vh;
    }

    .hero .row {
        width: 100%;
    }
}




/* ABOUT US RESPONSIVENESS */ 
@media screen and (max-width:768px) {
    .about {
        padding: 2rem 1rem 3rem 1rem;
    }

    .rows {
        display: flex;
        flex-direction: column;
    }  

    .about-img {
        height: 500px; 
    } 

    .row .column {
        width: 100%;
    } 

    .tabs {
        padding-top: 3rem;
    } 

    .partners-row {
        grid-template-columns: 1fr; 
    }
} 

/* Media query to adjust layout on smaller screens */
@media (max-width: 768px) {
    .category .box-container {
        justify-content: flex-start;
        overflow-x: hidden;
    }
    
    .category .box-container .box {
        margin: 15px; /* Reduced margin for 15px spacing on mobile */
    }
}


/* HOW IT WORKS END */


nav a {
	margin: 0 1rem;
	color: #2980b9;
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #2980b9;
	visibility: hidden;
	opacity: 0; 
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
        
        margin-top: -0.5rem;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		/* background-color: var(--mainColor); */
        background-color: #eee;
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

    .footer-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .footer-icons > * {
        margin-bottom: 10px !important; /* Adjust the margin to your preferred vertical spacing */
    }

} 

