
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");


.square{
    border-radius: 0px
}

.jumbotron{
    background-image: linear-gradient(to right, #007bff, #000); 
    color: #fff;
    min-height: 100px;
}

.pointer{
    cursor: pointer;
} 







* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

/* NEW HEADER STYLE */ 
.flexColStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flexColEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.flexColCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.hero-wrapper {
    color: rgb(27, 158, 202);
    position: relative;
    padding-bottom: 2rem; 
    height: 200px;
    background-color: #f4f4f4;
} 

.hero-container {
    justify-content: space-between; 
    align-items: flex-end;
    /* display: flex; */
}


/* OLD HEADER STYLE */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 2rem;
    background-color: #eee;
    /* color: var(--textColor); */
    /* display: { xs: 'none', md: 'flex' } */
    font-family: monospace;
    font-weight: 700; 
    letter-spacing: 0.3rem;
    color: #2980b9;
    text-decoration: none; 

    position: sticky;
    /* position: fixed; */ 
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); /* Add box shadow */
}

.description-text {
	background-color: #f4f4f4; /* Light grey background color */
	padding: 10px; /* Add some padding for better visual separation */
}   

.headerSearch {
  height: 50px;
  background-color: rgb(27, 158, 202);
  border: rgb(27, 158, 202);  
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-around;
  border-radius: 5px;
  position: relative;
  border-radius: 10px;
  margin: 0 auto; /* put it in the center */
  max-width: 1000px; /* Set a maximum width as needed for larger screens */
  
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1; /* Make the button item take up available space */
}




.headerSearchInput {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	outline: none !important;
	border: none;
	border-radius: 10px;
} 



.headerBtn {
    background-color: rgb(27, 158, 202); 
    color: white; /* Text color */
    padding: 5px 10px; /* Adjust padding as needed */
    border: none;
	margin-top: 2px;
	margin-bottom: 2px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold; 
	height: 50px;
    font-size: 16px; /* Adjust font size as needed */
}

/* Hover effect for the button */
.headerBtn:hover {
    background-color: rgb(27, 158, 202);  /* Change to the color you prefer on hover */
} 

/* HOW IT WORKS STYLING */ 

.section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
    padding: 1rem 0;
}

.category .box-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.category .box-container .box {
    width: 5rem;
    height: 4rem;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
    border: var(--border);
    margin: 2rem;
    padding: 1rem;
    backdrop-filter: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.category .box-container .box img {
    height: 3rem;
    width: 4rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    color: var(--black);
    background-color: var(--light-bg);
    text-align: center;
}

.category .box-container .box h3 {
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--black);
    padding-bottom: .5rem;
}

.category .box-container .box span {
    color: var(--light-color);
    font-size: 1rem;
}

.category .box-container .box:hover {
    background-color: #c7e7fc;
    transition: 0.5s ease;
}

/* ABOUT US STYLING */
.about {
    padding: 5rem 3rem 3rem;
    background: #f8f8f8;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row .column {
    width: 40%;
}

.column .tabs {
    display: flex;
}

.single-tab {
    background: white;
    margin-right: 10px;
    cursor: pointer;
}


.single-tab h2 {
    display: block;
    padding: 10px 16px;
    border-radius: 4px;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 600;
} 

.active-tab {
    background: #1567ff;
    position: relative;
}

.active-tab::before {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%); 
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-color: #1567ff transparent transparent transparent;
}

.active-tab h2 {
    color: white;
}


.about-img {
    position: relative;
    background-image: url("/images/scovers.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
    height: 600px;
    width: 100%;
}

.content {
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem;
    display: none;
} 

.active-content {
    display: block;
}

.content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.content p {
    padding-bottom: 1rem;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999;
}

.content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
} 

/* PARTNERSHIP CSS */ 
.partners-row {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.partners-column {
    margin-bottom: 30px;
    margin-right: 20px;
}

.progress-wrap h3 {
    font-size: 14px !important; 
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.progress {
    height: 8px; 
    background: rgba(0, 0, 0, 0.5);
    overflow: visible;
} 

.progress-bar {
    width: 99%;
    height: 8px;
    background: #06368f;
    line-height: 1.2;
    position: relative;
    border-radius: 2px;
} 

/* ABOUT US RESPONSIVENESS */ 
@media screen and (max-width:768px) {
    .about {
        padding: 2rem 1rem 3rem 1rem;
    }

    .rows {
        display: flex;
        flex-direction: column;
    }  

    .about-img {
        height: 500px; 
    } 

    .row .column {
        width: 100%;
    } 

    .tabs {
        padding-top: 3rem;
    } 

    .partners-row {
        grid-template-columns: 1fr; 
    }
} 

/* Media query to adjust layout on smaller screens */
@media (max-width: 768px) {
    .category .box-container {
        justify-content: flex-start;
        overflow-x: hidden;
    }
    
    .category .box-container .box {
        margin: 15px; /* Reduced margin for 15px spacing on mobile */
    }
}


/* HOW IT WORKS END */


nav a {
	margin: 0 1rem;
	color: #2980b9;
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #2980b9;
	visibility: hidden;
	opacity: 0; 
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		/* background-color: var(--mainColor); */
        background-color: #eee;
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

    .footer-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .footer-icons > * {
        margin-bottom: 10px !important; /* Adjust the margin to your preferred vertical spacing */
    }

} 

